*{
    margin: 0;
    padding: 0;
   
}



body{    overflow-x: hidden;

}
.form_body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    height: 100vh;
    /* background: linear-gradient(90.13deg, #61f3f3 -29.51%, #db9cff 120.59%);
  
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: none; */
  }

  
  .logocsi {
    top: 1rem;
    left: 1rem;
    height: 91px;
    width: 67px;
    position: fixed;
  }
  
  .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    /* width: 25%; */
    min-width: 25%;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -16rem;
    column-gap: 2rem;
    animation: fadein 2s ease;
    animation-iteration-count: 1;
  }
  
  .admin_icon {
    top: 26%;
    height: 70px;
    width: 60px;
    transform: scale(1.5);
    position: absolute;
      }
  
  .admin_group {
    top: 25%;
    height: 80px;
    width: 60px;
    transform: scale(0.8);
    position: absolute;
  }
 
  .icon_container {
    display: flex;
    width: 70%;
    position: relative;
    left: 15%;
    color: white;
  }
  .icon {
    border: 0.5px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  
    width: 80px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bars {
    width: 4px;
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 1px;
    height: 33px;
  
    background: #00a3ff;
    border-radius: 5px;
  }
  
  .input_field {
    width: 200%;
    font-size: 4rem;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
  }
  
  .button_container {
    display: flex;
  
    margin-top: 2px;
    position: relative;
  }
  
  .btn {display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    position: relative;
    ;left: 28%;
    background:#db9cff ;
    height: 40px;
    border-radius: 2px;
    width: 140px;
    display: flex;

  }
  
  .img {
    margin-right: -7rem;
    margin-bottom: 14rem;
    animation: fadein 2s ease;
    animation-iteration-count: 1;
  }
  .computers {
    height: 480px;
    width: 456px;
    filter: drop-shadow(15px 15px 4px grey);
  }
  .errormsg_container {
    width: 60%;
    margin-bottom: 1rem;
  }
  .errormsg > span {
    text-align: left;
    font-size: 13px;
    position: relative;
    left: 45%;
    color: red;
  }
  .g-btn{
    width: 10vw;
    position: relative;
    ;left :0%;
  }
  .headingclass{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 7%;
    /* color:#db9cff; */
  }
.box{
    background: linear-gradient(90.13deg, #61f3f3 -29.51%, #db9cff 120.59%);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  